.grid {
    color: green;
}

.calculator {
    /* display : flex;
    flex-direction: column;
    
    align-items: stre h; */
    margin-left: 30%;
    height: 60%;
    width: 80%;
    max-width: 500px;
    border: 2px solid black;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.display {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: auto;
    height: 200px;
    width: 300px;
    border: 2px solid blue;
    margin-left: 20%;
    margin-top: 10%;
    box-shadow: inset 2px 2px 4px 5px #aaa; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: inset 2px 2px 4px 5px #aaa; /* FF3.5 - 3.6 */
    box-shadow: inset 2px 2px 4px 5px #aaa; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}

.btns {
    height: 150px;
    width: 50px;
    font-size: 24px;
    
}

.buttons {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: large;
}

#firstRow {
    height: 250px;  
    
}