.grid {
    color: green;
}

.calculator {
    
    height: 60%;
    width: 80%;
    max-width: 500px;
    border: 2px solid black;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    overflow: auto;
    height: 200px;
    width: 300px;
    border: 2px solid blue;
    margin-left: 20%;
    margin-top: 10%;
}

.btns {
    height: 150px;
    width: 50px;
    
}

.buttons {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#firstRow {
    height: 250px;  
    
}