@import url('https://fonts.googleapis.com/css?family=Mina');

.grid {
    color: rgb(46, 187, 206);
}

.calculator {
    /* display : flex;
    flex-direction: column;
    
    align-items: ; */
    margin-left: 20%;
    margin-top: 5%;
    height: 60%;
    width: 80%;
    max-width: 500px;
    border: 2px solid black;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.display {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: auto;
    height: 200px;
    width: 65%;
    border: 2px solid black;
    margin-left: 18%;
    margin-top: 10%;
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    box-shadow: inset 2px 2px 4px 5px #aaa; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: inset 2px 2px 4px 5px #aaa; /* FF3.5 - 3.6 */
    box-shadow: inset 2px 2px 4px 5px #aaa; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}

.btns {
    height: 150px;
    width: 50px;
        
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-family: 'Mina', sans-serif;

    box-shadow: 2px 2px white;
    /* clouds gradient from https://uigrandents.com/#Clouds */
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.CalcButtons {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 42px !important;
}

iframe {
    padding-top: 15px;
    /* align-content: center; */
    
    height: 50px;
    width: 50px;
}

#firstRow {
    height: 250px;  
    
}

#visibleNums {
    padding-right: 20px;
    font-size: 42px;
    
}

.tingle-modal p {
    font-size: 24px;
}